* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Material UI */
.badge {
  font-size: 4rem;
  border: 2px solid red;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vh 3vw;
  height: 8vh;
  background-color: rgb(35, 146, 250);
  color: #fff;
}

.cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart:hover {
  border-bottom: 2.5px solid #fff;
}

/* Main Container */
.main-content {
  display: flex;
  margin: auto;
  min-height: 92vh;
  height: 92vh;
}

/* Category Sidebar */
.category-sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #06283d;
  color: #fff;
  width: 18vw;
  overflow-y: hidden;
}

.sidebar-heading {
  margin: 25px;
  font-weight: 500;
}

.category-btn {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  padding: 16px 25px;
}

.category-btn:hover {
  color: #000;
  background-color: #dff6ff;
}

/* Items Container */
.right-content {
  width: 82vw;
  overflow-y: auto;
}

.total-products {
  text-align: center;
  margin-top: 5vh;
  font-weight: 500;
  font-size: 1.8rem;
}

.items-container {
  margin: 5vh 3vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.item-card {
  position: relative;
  margin: 12px;
  border: 1px solid #000;
  padding: 10px 0;
  border-radius: 10px;
}

.product-img {
  width: 100%;
  max-height: 23vh;
}

.text-content {
  margin: 10px 10px 5.5vh 10px;
  line-height: 1.5;
}

.product-name {
  font-size: 1.35rem;
}

.filter-btn-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 8vh;
}

.filter-btn-container button {
  margin: 0 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.add-btn {
  background-color: #028ce2;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 17px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
}

.add-btn:hover {
  background-color: #0a639b;
  color: #fff;
}

.add-btn-active {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 17px;
  position: absolute;
  bottom: 10px;
  cursor: not-allowed;
}

/* Cart Page */
.shop-link {
  border-bottom: 2px solid #028ce2;
  color: #028ce2;
}

.cart-card {
  text-align: center;
  width: 30vw;
  margin: 10vh auto 0;
  padding: 40px;
  line-height: 1.4;
  border-radius: 10px;
  font-size: 1.5rem;
}

.empty-cart {
  width: 100%;
  margin-bottom: 5vh;
}

.summary-page {
  min-height: 92vh;
  background-color: #e9e9e9;
}

.back-btn {
  padding: 10px;
  background-color: #06283d;
  border-radius: 8px;
  position: relative;
  top: 5vh;
  left: 3vw;
  font-size: 18px;
}

.back-btn:hover {
  background-color: #028ce2;
  color: #fff;
}

.orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vh 0;
}

.order-heading {
  margin-bottom: 10px;
}

.orders-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 40vw;
}

.card-footer-container {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}

.orders-card-footer {
  position: relative;
  min-height: 18vh;
  margin-top: 5vh;
}

.card-footer-text {
  color: #777777;
}

.total-price {
  font-weight: bold;
}

.order-btn {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #06283d;
  color: #fff;
  transition: all ease-in-out 0.2s;
  position: absolute;
  bottom: 5px;
}

.order-btn:hover {
  background-color: #028ce2;
}

/* Ordered Item */
.ordered-item {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.cart-item-img {
  width: 80px;
  min-height: 80px;
  max-height: 80px;
}

.ordered-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ordered-item-text {
  line-height: 1.6;
  margin-left: 10px;
}

.remove-btn {
  border: none;
  border-radius: 10px;
  background-color: #dd1515;
  color: #fff;
  padding: 1vh 1vw;
  cursor: pointer;
  font-size: 15px;
}

.remove-btn:hover {
  background-color: #ff0000;
}

/* Completed Order Page */
.order-completed-page {
  max-height: 92vh;
}

.completed-card {
  text-align: center;
  width: 35vw;
  margin: 10vh auto 0;
  padding: 40px;
  line-height: 2;
  border-radius: 10px;
  font-size: 1.5rem;
}

.completed-img {
  width: 100%;
}

.explore-items-btn {
  color: rgb(35, 146, 250);
  border: 1px solid #028ce2;
  border-radius: 24px;
  padding: 10px 15px;
  font-size: 18px;
}

.explore-items-btn:hover {
  background-color: #028ce2;
  color: #fff;
}

/* Media Queries */
/* Mobile */
@media only screen and (max-width: 500px) {
  .category-sidebar {
    width: 40vw;
  }

  .right-content {
    width: 60vw;
  }

  .sidebar-heading {
    margin: 25px 16px;
    font-size: 1.3rem;
  }

  .category-btn {
    padding: 16px;
  }

  .total-products {
    font-size: 1.4rem;
  }

  .items-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .cart-card,
  .completed-card {
    width: 300px;
  }

  .back-btn {
    font-size: 14px;
  }

  .orders-container {
    padding: 10vh 0;
  }

  .order-heading {
    margin-bottom: 10px;
  }

  .orders-card {
    width: 85vw;
  }

  .order-btn {
    position: relative;
    bottom: 0px;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .category-sidebar {
    width: 34vw;
  }

  .sidebar-heading {
    margin: 25px 16px;
    font-size: 1.3rem;
  }

  .category-btn {
    padding: 16px;
  }

  .items-container {
    margin: 5vh 1vw;
    grid-template-columns: repeat(2, 1fr);
  }

  .cart-card,
  .completed-card {
    width: 350px;
  }

  .orders-container {
    padding: 10vh 0;
  }

  .order-heading {
    margin-bottom: 10px;
  }

  .orders-card {
    width: 80vw;
  }

  .order-btn {
    position: relative;
    bottom: 0px;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  .sidebar-heading {
    margin: 25px 16px;
    font-size: 1.3rem;
  }

  .category-btn {
    padding: 16px;
  }

  .items-container {
    margin: 5vh 1vw;
    grid-template-columns: repeat(3, 1fr);
  }

  .cart-card,
  .completed-card {
    width: 400px;
  }

  .orders-container {
    padding: 10vh 0;
  }

  .order-heading {
    margin-bottom: 10px;
  }

  .orders-card {
    width: 80vw;
  }

  .order-btn {
    position: relative;
    bottom: 0px;
  }
}

@media (min-width: 1001px) and (max-width: 1200px) {
  .items-container {
    margin: 5vh 1vw;
    grid-template-columns: repeat(4, 1fr);
  }
}
