* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Navbar */
.navbar {
  padding: 1.5vh 25px;
  height: 6vh;
  background-color: rgb(35, 146, 250);
  color: #fff;
}

/* Main Container */
.main-content {
  display: flex;
  margin: auto;
  min-height: 94vh;
}

/* Category Sidebar */
.category-sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #06283d;
  color: #fff;
  width: 20vw;
}

.sidebar-heading {
  margin: 25px;
  font-weight: 500;
}

.category-btn {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  padding: 16px 25px;
}

.category-btn:hover {
  color: #000;
  background-color: #dff6ff;
}

/* Items Container */
.right-content {
  width: 80vw;
}

.total-products {
  text-align: center;
  margin-top: 5vh;
  font-weight: 500;
  font-size: 1.8rem;
}

.items-container {
  margin: 5vh 3vw 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item-card {
  border: 3px solid #000;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  height: 300px;
}

.item-card:hover {
  border: 3px solid rgb(255, 0, 0);
}

.filter-btn-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 8vh;
}

.filter-btn-container button {
  margin: 0 10px;
  padding: 10px 15px;
  cursor: pointer;
}
